nav#autohide_navbar.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='index.html' title='Cinnamon tools - By Odyseus') Cinnamon tools
        .container-fluid
            .navbar-collapse.collapse.navbar-right
                ul.nav.navbar-nav
                    //- li.dropdown
                    //-     a.dropdown-toggle(href='#', data-toggle='dropdown') Install
                    //-         b.caret
                    //-     ul.dropdown-menu
                    //-         li
                    //-             a(href= navbarJSONData.installCB.items["1"].href, title= navbarJSONData.installCB.items["1"].title): != navbarJSONData.installCB.items["1"].label
                    //-         li
                    //-             a(href= navbarJSONData.installCB.items["2"].href, title= navbarJSONData.installCB.items["2"].title): != navbarJSONData.installCB.items["2"].label
                    li
                        a.navbar-brand(href='https://odyseus.github.io/CinnamonTools/wiki.html' title='Cinnamon Tools Wiki') Wiki
                    li
                        a.navbar-brand(href='https://github.com/Odyseus/CinnamonTools' title='GitHub repository') GitHub
