ul.nav.cb-docs-sidenav
    li.effing_index
        a(href='#effing_index') Index
    li
        a(href='#github_tips_tricks') GitHub tips &amp; tricks
        ul.nav
            li
                a(href='#contribute_to_someone_repository') Contribute to someone's repository
                ul.nav
                    li
                        a(href='#contribute_to_someone_repository-1') Detailed steps
                    li
                        a(href='#contribute_to_someone_repository-2') Keep your forked repositories synchronized with the original repositories
            li
                a(href='#avoid_user_password_prompts_when_pushing') Avoid user/password prompts when pushing
                ul.nav
                    li
                        a(href='#avoid_user_password_prompts_when_pushing-1') Summarized steps for Linux
            li
                a(href='#working_with_big_repositories') Working with big repositories
            li
                a(href='#closing_issues_via_commit_messages') Closing issues via commit messages
                ul.nav
                    li
                        a(href='#closing_issues_via_commit_messages-1') Closing an issue in the same repository
                    li
                        a(href='#closing_issues_via_commit_messages-2') Keywords for closing issues
                    li
                        a(href='#closing_issues_via_commit_messages-3') Closing an issue in a different repository
                    li
                        a(href='#closing_issues_via_commit_messages-4') Closing multiple issues
            li
                a(href='#various') Various
                ul.nav
                    li
                        a(href='#various-1') Verify repository database
                    li
                        a(href='#various-2') Remove dangling commits from repository
                    li
                        a(href='#various-3') Open git GUI
    //- Not worth adding it yet.
    //- li
    //-     a(href='xlet_development') Xlet development
    li
        a(href='#xlet_instalation') Xlet instalation
        ul.nav
            li
                a(href='#xlet_instalation-1') Some generalities
            li
                a(href='#xlet_instalation-2') Applets locations
            li
                a(href='#xlet_instalation-3') Extensions locations
            li
                a(href='#xlet_instalation-4') Desklets locations
            li
                a(href='#xlet_instalation-5') Installing xlets for all users
    li
        a(href='#xlet_localization') Xlet localization
        ul.nav
            li
                a(href='#xlet_localization-1') For end users/contributors
                ul.nav
                    li
                        a(href='#xlet_localization-1-1') Some technical facts
                    li
                        a(href='#xlet_localization-1-2') How to create localization files (.po files)
                    li
                        a(href='#xlet_localization-1-3') Poedit usage
                        ul.nav
                            li
                                a(href='#xlet_localization-1-3-1') Creating a translation file from scratch
                            li
                                a(href='#xlet_localization-1-3-2') Updating and existing translation file
                    li
                        a(href='#xlet_localization-1-4') Adding languages to Poedit's spell checker
            li
                a(href='#xlet_localization-2') For xlet developers
